body{
  font-family: Verdana, sans-serif; width: 50%; margin-right: auto; margin-left: auto;
}

#title{
  text-align: center; height: 70px;
}

#banner_area{
  background-image:url(flat\ earth\ image.webp);
  width: 623px; height: 245px;
  margin-right: auto; margin-left: auto;
}